<div class="container">
  <br><br>
  {{diagnostic}}
  <form>
    <div class="form-group">
      <label for="options">Person Power</label>
      <select class="form-control" id="options" name = "name" required>
        <option *ngFor="let name of options" [value]="name">{{name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Comments</label>
      <input type="text" class="form-control" id="comment" name = "comment"
             required
             [(ngModel)] = "model.comments">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
